.blog_grid {
  display: grid; 
  grid-template-columns: 0.6fr 2fr; 
  grid-template-rows: 3fr 0.3fr; 
  grid-template-areas: 
    "blogmenu blogframe"
    "footer footer"; 
  gap: 0.5em;
  margin: auto 8em 2em 8em;
  align-content: center;
  align-items: start;
  justify-content: center;
 }

.blogmenu {
  grid-area: blogmenu;
  align-self: stretch;
  background-color: seashell;
  border: 1px dashed #bf7398;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

iframe {
  border: none;
  grid-area: blogframe;
  align-self: stretch;
  background-color: seashell;
  border: 1px dashed #bf7398;
  border-radius: 5px;
  justify-self: stretch;
  width: inherit;
  height: inherit;
  padding-left: 20px;
}