.index_grid {
    display: grid; 
    grid-template-columns: 0.6fr 1fr 0.6fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0.5em 0.5em; 
    grid-template-areas: 
      "header header header"
      "menu index_body ."; 
    grid-template-rows: 30px auto;
    justify-content: center;
    padding: 0.5em;
  }
  .index_body { 
    grid-area: index_body;
    background-color: ivory;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
  }
  .header { 
    grid-area: header;

  }

  .menu {
    grid-area: menu;
    background-color: ivory;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
  }