body{
  background-color: mistyrose;
}

#index_grid {
    display: grid; 
    grid-template-columns: 0.6fr 1fr 0.6fr; 
    grid-template-rows: auto auto; 
    grid-template-areas: 
      ". heading ."
      "menu index_body ."; 
    column-gap: 0.5em;
    row-gap: 0.5em;
    margin: auto;
    align-content: center;
    align-items: start;
    align-self: center;
    justify-content: center;
    margin: 1em 0.5em 1em 2em;
  }
  #index_body { 
    grid-area: index_body;
    background-color: seashell;
    border: 1px dashed #bf7398;
    border-radius: 5px;
    padding: 0.5em 1em 0.5em auto;
  }
  .heading { 
    grid-area: heading;
    align-content: center;
  }

  #menu {
    grid-area: menu;
    max-width: 6em;
    background-color: seashell;
    border: 1px dashed #bf7398;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
  }

