body{
  background-color: mistyrose;
  font-family: "chams";
  font-size: 1em;
  color: #704D41;
}

#index_grid {
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: auto auto; 
    grid-template-areas: 
      ". heading ."
      "menu index_body ."; 
    gap: 1em;
    margin: auto;
    align-content: center;
    align-items: start;
    justify-content: center;
    margin: 0.5em 1em 2em 1em;
  }
  #index_body { 
    grid-area: index_body;
    background-color: seashell;
    border: 1px dashed #bf7398;
    border-radius: 5px;
    padding: 1em 1em 1em 1em;
  }
  .heading { 
    grid-area: heading;
    align-content: center;
  }

  #menu {
    grid-area: menu;
    max-width: 25%;
    background-color: seashell;
    border: 1px dashed #bf7398;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
  }

