body{
  background-color: mistyrose;
  font-family: "chams";
  font-size: 1em;
  color: #704D41;
}

#index_grid {
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: 1fr 4fr; 
    grid-template-areas: 
      ". heading ."
      "menu index_body ."; 
    gap: 1em;
    margin: auto 2em auto 2em;
    align-content: center;
    align-items: start;
    justify-content: center;
  }
  #index_body { 
    grid-area: index_body;
    align-self: stretch;
    background-color: seashell;
    border: 1px dashed #bf7398;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
  }
  .heading { 
    grid-area: heading;
    align-content: center;
  }

  #menu {
    grid-area: menu;
    align-self: stretch;
    background-color: seashell;
    border: 1px dashed #bf7398;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
  }

/* Link formatting- color changes upon visiting the link. When hovering over the link, the underlining disappears. */

a:link {
  color: #a9bf91
}

a:visited {
  color: #6B705C
}

a:hover {
    text-decoration: none;
}

#logo_link {
  text-decoration: none;
  color:#704D41
}