/* Basic things for the body- bg image with a white gradient of 0.7 transparency over it to make it lighter. */
body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(".../bgs/bg-water-tile-big.png");
  }
  
  h1 {
    font-family: "babydoll";
    text-align: center;
    font-size: 3em;
  }

  /* AI generated CSS to make text float up and down a bit */
  .float {
    animation: float alternate ease-in-out 3s infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }
  
  /* Landing page container to center text in the page. Check if it works on mobile please and thank you. */
  
  .landing_container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }
  
  /* Link formatting for landing page */
  #subtitle {
    text-decoration: none;
    color:#704D41;
    font-family: "chams";
  }

  
  
  