/* Basic things for the body- bg image with a white gradient of 0.7 transparency over it to make it lighter. */
body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
                    url(".../bgs/bg-water-tile-big.png");
    font-family: "chams";
    font-size: 1em;
    color: #704D41;
    margin-left: 25%;
    margin-right: 25%
  }
  
  /* AI generated CSS to make text float up and down a bit */
  .float {
    animation: float alternate ease-in-out 3s infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }
  
  /* Landing page container to center text in the page. Check if it works on mobile please and thank you. */
  
  .landing_container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }
  
  /* Link formatting for landing page */
  a {
    text-decoration: none;
    color:#704D41
  }
  

  /* Defining the font faces I use across the website. */
  /* Babydoll is the face I use for headings ONLY- it's not easy on the eyes for longer strings of text. */
  @font-face {
    font-family: "babydoll";
    src: url("/babydoll-kit/baby_doll-webfont.woff") format("woff"),
         url("/babydoll-kit/baby_doll-webfont.woff2") format("woff2");
  }
  
  /* Chams is a more legible font that I use for longer strings of text that are smaller in size. Here I define the different versions of the typeface. */
  /* Normal chams font */
  @font-face {
    font-family: "babydoll";
    src: url(".../fonts/babydoll-kit/baby_doll-webfont.woff") format("woff"),
         url(".../fonts/babydoll-kit/baby_doll-webfont.woff2") format("woff2");
  }
  
  /* Chams is a more legible font that I use for longer strings of text that are smaller in size. Here I define the different versions of the typeface. */
  /* Normal chams font */
  @font-face {
    font-family: "chams";
    src: url("chams-kit/chams-webfont.woff2") format("woff2"),
         url("chams-kit/chams-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Bold chams font */
@font-face {
    font-family: "chams";
    src: url("chams-kit/chamsbold-webfont.woff2") format("woff2"),
         url("chams-kit/chamsbold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* Italic chams font */
@font-face {
    font-family: "chams";
    src: url("chams-kit/chamsitalic-webfont.woff2") format("woff2"),
         url("chams-kit/chamsitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

/* Bold talic chams font */
@font-face {
    font-family: "chams";
    src: url("chams-kit/chamsbolditalic-webfont.woff2") format("woff2"),
         url("chams-kit/chamsbolditalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}
  
  
  
  
  