  body {
    background-color:mistyrose;
  }

  h1 {
    font-family: "babydoll";
    text-align: center;
    font-size: 3em;
  }

  /* AI generated CSS to make text float up and down a bit */
  .float {
    animation: float alternate ease-in-out 3s infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }
  
  /* Landing page container to center text in the page. Check if it works on mobile please and thank you. */
  
  .landing_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  .landing_box {
    background-color: ghostwhite;
    border-radius: 5px;
  }
  
  /* Link formatting for landing page */
  a {
    text-decoration: none;
    color:#704D41;
    
  }

  a.subtitle{
    font-family: "chams";
  }
  
  