 .linkplaza_grid {
    display: grid; 
    grid-template-columns: 0.6fr 2fr 0.6fr; 
    grid-template-rows: 0.6fr 3fr 0.3fr; 
    grid-template-areas: 
       ". heading ."
       "menu index_body ."
       "footer footer footer"; 
    gap: 0.5em;
    margin: auto 8em 2em 8em;
    align-content: center;
    align-items: start;
    justify-content: center;
 }

 #grid_body { 
   grid-area: index_body;
   align-self: stretch;
   background-color: seashell;
   border: 1px dashed #bf7398;
   border-radius: 5px;
   padding: 10px 30px 5px 30px;
 }

#linkplaza_logo { 
  grid-area: heading;
  align-content: center;
   align-items: center;
   align-self: stretch;
   display: flex;
   flex-direction: column;
}

a {
   color: #97aacc;
}

a:hover {
   text-decoration: underline;
}

body{
   color: #2c4169;
   background-image: url("/plaza_tile_bg_placeholder.jpg");
   background-repeat: repeat;
}

p {
   color: #2c4169;
}

h3 {
   color: #2c4169;
}

footer > p {
   color: #97aacc;
}