body {
  background-color:mistyrose;
}

/*I'm making a navigation panel, so I'm setting the header to 'grid'.*/
header {
  display:grid;
  grid-template-rows: 1.5fr 1fr;
  align-items: center;
  max-width: 1170px;
}

hr {
  border: 1px dashed #bf7398;
  margin-right: 25px
}

h1 {
  margin: 30px;
  font-family: "babydoll";
  text-align: center;
  font-size: 3em;
}

.signature {
  color: #cc8b86;
  font-family: "babydoll";
  font-size: 1.3em;
  display: flex;
    flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 10%
}

/* Only to be used on the main page for the 'logo' until I make one that's more official (and figure out how to align everything in the center). */

.logo_main {
  margin-bottom: -5px;
  font-size: 3.5em;
}

.logo_sub {
  font-size: 1.5em;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: center
}

.logo_main_static {
  margin-bottom: -5px;
  margin-top: 35px;
  font-size: 3.5em;
}

.logo_sub_static {
  font-size: 1.5em;
  margin-top: -5px;
  margin-bottom: 30px;
  text-align: center
}

/* AI generated CSS to make text float up and down a bit */
.float {
  animation: float alternate ease-in-out 3s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

/* Landing page container to center text in the page. Check if it works on mobile please and thank you. */

.landing_container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

/* Link formatting- color changes upon visiting the link. When hovering over the link, the underlining disappears. */

a:link {
  color: #a9bf91
}

a:visited {
  color: #6B705C
}

a:hover {
    text-decoration: none;
}

#logo_link {
  text-decoration: none;
  color:#704D41
}

/* Styling for tables. */
table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 85%;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px dotted #cc8b86;
}

th {
  font-weight: bold;
  background-color: #FFF2E0;
}
